<form class="flex flex-row gap-3 pt-4 pb-1" [formGroup]="itemForm">
    <mat-form-field class="basis-1/2">
        <mat-label>Descrição</mat-label>
        <input matInput  formControlName="descricao" >
    </mat-form-field>

    <mat-form-field>
        <mat-label>Quantidade</mat-label>
        <input type="number" value="1" min="1" matInput  formControlName="quantidade">
    </mat-form-field>

    <mat-form-field class="basis-30">
        <mat-label>Valor unitário</mat-label>
        <mat-icon matSuffix>attach_money</mat-icon>
        <input type="number" matInput min="0"  formControlName="valor_unitario">
    </mat-form-field>

    <mat-form-field class="basis-30">
        <mat-label>Desconto</mat-label>
        <input type="number" matInput min="0"  formControlName="desconto">
        <mat-icon matSuffix>percent</mat-icon>
    </mat-form-field>

    <button mat-fab extended matTooltip="Primary" color="primary" (click)="sendToTable()">
        <mat-icon>check</mat-icon> Salvar
    </button>
</form>

