<div>
    <div class="flex flex-row justify-start gap-[20vw] py-3">
        <p>Orçamento Nº <em>1020</em></p>
        <p>Cliente <em>Fazenda Marajá</em></p>
    </div>
    <div class="flex flex-row justify-between">
        <mat-form-field class="example-full-width">
            <mat-label>Data do Orçamento</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Prazo de Entrega</mat-label>
            <input type="number" value="7" min="0" matInput>
            <mat-hint align="end">dias</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Validade</mat-label>
            <input type="number" value="7" min="0" matInput>
            <mat-hint align="end">dias</mat-hint>
        </mat-form-field>
    </div>
    <mat-form-field class=" py-2 w-full">
            <mat-label>Proposta</mat-label>
            <input matInput #message maxlength="256" placeholder="Ex. Lançamento Fibra...">
            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <div>
        <mat-tab-group dynamicHeight color="primary" backgroundColor="primary">
            <mat-tab label="Detalhe">
                <div class="pb-3">                  
                    <div class="flex justify-start py-3">
                        <button  mat-flat-button matTooltip="Primary" color="primary" (click)="addDataOnTable()" >
                            <mat-icon>add</mat-icon> Adicionar
                        </button>
                    </div>
                    <app-itens-orcamento-tabela [newItem] = "newItem"></app-itens-orcamento-tabela>
                </div>
            </mat-tab>
            <mat-tab label="Detalhamento Interno">
              <div class="example-large-box mat-elevation-z4">
                Large content
              </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>