<h1 mat-dialog-title>Cadastro de Cliente</h1>
<div mat-dialog-content>
    <form class="form-horizontal" [formGroup]="clienteRegisterFormGroup" (ngSubmit) = "onSubmit(formDirective)" #formDirective="ngForm">
        <div class="flex flex-row  gap-20">
            <div class="basis-2/4">
                <mat-form-field >
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Bigg Tecnologias LTDA" formControlName="nome" required>
                    <mat-error *ngIf="clienteRegisterFormGroup.invalid">{{getErrorMessage('nome')}}</mat-error>
                </mat-form-field>
            </div>
           <div class="basis-2/5">
            <mat-form-field>
                <mat-label>CNPJ/CPF</mat-label>
                <input matInput placeholder="00.000.000/0001-00" formControlName="identificacao" required>
                <mat-error *ngIf="clienteRegisterFormGroup.invalid">{{getErrorMessage('identificacao')}}</mat-error>
            </mat-form-field>
           </div>
          
        </div>
        <div class="flex flex-wrap gap-20">
            <div class="basis-1/4">
                <mat-form-field>
                    <mat-label>Telefone</mat-label>
                    <input matInput placeholder="(00) 90000-0000" formControlName="telefone" required>
                    <mat-error *ngIf="clienteRegisterFormGroup.invalid">{{getErrorMessage('telefone')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="basis-1/4">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email" type="email" required>
                    <mat-error *ngIf="clienteRegisterFormGroup.invalid">{{getErrorMessage('email')}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="items-center justify-center ">
            <div class="w-full flex-col flex ">
                <mat-form-field>
                    <mat-label>Endereço</mat-label>
                    <input matInput placeholder="Av. A, Nº 0 - Bairro XPG" formControlName="endereco" required>
                    <mat-error *ngIf="clienteRegisterFormGroup.invalid">{{getErrorMessage('endereco')}}</mat-error>
                </mat-form-field>
            </div>                
         </div>   
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Fechar</button>
            <button mat-button type="subimit" [disabled]="!clienteRegisterFormGroup.valid" >Registrar</button>
        </div>
    </form>
</div>