
<!-- mudar de card para lista selecional, ter um multiselect que tem o nome dos clientes, e quando selecionar eles, vai ficar so o card com o valor
 -->
    <div class="container">
        <h2  [class.cardactive]="ativoCard" (mouseover) ='onMouseOverOut()' >{{titleSection}}</h2>
            <div class="section">
                <mat-card class="card" *ngFor="let cliente of clientes" >
                    <mat-card-header >
                    <mat-card-title-group>
                        <mat-card-title [style.color]="cliente.vencido ? 'red' : 'inherit' " >{{cliente.nome}}</mat-card-title>
                        <mat-card-subtitle>{{cliente.servidor}}</mat-card-subtitle>
                        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
                    </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                       
                    <ul>
                        <li>{{cliente.contato}}</li>
                        <li>{{cliente.plano}}</li>
                        <li>{{cliente.valor}}</li>
                    </ul>
                    
                    <p [style]=" cliente.vencido ? clienteVencido : ''">Mensalidade vencida !!!</p>
                    <button mat-fab extended color="primary" (click)="openDialog(cliente.id)"> Ver Mais <mat-icon>search</mat-icon> </button> 

                    </mat-card-content>
                </mat-card>
            </div>
    </div>

