<div class="flex justify-start py-3">
  <button  mat-flat-button matTooltip="Primary" color="primary" (click)="createNewItem()" >
      <mat-icon>add</mat-icon> Adicionar
  </button>
</div>
<table [dataSource]="dataSource" mat-table class="mat-elevation-z8 demo-table">    
    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição</th>
      <td mat-cell *matCellDef="let element">{{element.descricao}}</td>
    </ng-container>
  
    <ng-container matColumnDef="quantidade">
      <th mat-header-cell *matHeaderCellDef>Quantidade</th>
      <td mat-cell *matCellDef="let element">{{element.quantidade}}</td>
    </ng-container>
  
    <ng-container matColumnDef="valor_unitario">
      <th mat-header-cell *matHeaderCellDef>Valor Unitário</th>
      <td mat-cell *matCellDef="let element">{{element.valor_unitario | currency:'BRL':'symbol'}}</td>
    </ng-container>
  
    <ng-container matColumnDef="fornecedor">
        <th mat-header-cell *matHeaderCellDef>Fornecedor</th>
        <td mat-cell *matCellDef="let element">{{element.fornecedor}}</td>
    </ng-container>

    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>Tipo</th>
        <td mat-cell *matCellDef="let element">{{element.tipo}}</td>
    </ng-container>

    <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{element.total | currency:'BRL':'symbol'}}</td>
    </ng-container>

    <ng-container matColumnDef="settings">
        <th mat-header-cell *matHeaderCellDef>Ação</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" >
            <mat-icon aria-hidden="false" aria-label="settings" fontIcon="settings"></mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openBottomSheet(element)">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="deleteItem(element.id)">
              <mat-icon>delete</mat-icon>
              <span>Deletar</span>
            </button>           
          </mat-menu>          
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7" class="p-3">Nenhum item adicionado ao orçamento</td>
    </tr>

</table>
<section class="pt-5">
  <div>
    <mat-form-field class="w-full">
      <mat-label>Observações</mat-label>
      <textarea matInput [formControl]="observacoes"></textarea>
    </mat-form-field>
  </div>
  <div class="relative border rounded-xl p-3  border-[#636363]">
    <h3 class="absolute  -top-4 left-5 bg-[#424242] px-3">Totais</h3>
    <div class="grid grid-cols-2">     
        <p>Total Cobrado  <em>{{qtdItens}}</em> </p> 
        <p>Lucro <em>{{qtdItens}}</em>%</p>
        <p class="row-span-2">Itens <em>{{qtdItens}}</em> </p> 
        <p>Gasto Produtos <em>{{qtdItens}}</em> </p>
        <p>Gasto Serviço <em>{{qtdItens}}</em> </p> 
    </div>
    <div class="flex flex items-end place-content-end">
      <p>Lucro Total <em class="text-base font-sans tracking-wide">{{totalOrcamentoComDesconto |
        currency:'BRL':'symbol'}}</em></p> <br />
    </div>
  </div>
</section>