<div layout="row" class="container mx-auto h-lvh">

    <mat-stepper #stepper>
        <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Cliente</ng-template>
                <app-cliente (clienteSelecionado)="updateClienteSelecionado($event)"></app-cliente>
                <div>
                    <button mat-flat-button matStepperNext color="primary">Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Orçamento</ng-template>
                <app-detalhamento [clienteSelecionado]="clienteOrcamento" ></app-detalhamento>
                <!-- <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl" required>
                </mat-form-field> -->
                <div class="flex flex-row justify-between">
                    <button mat-flat-button matStepperPrevious color="warn">Voltar</button>
                    <button mat-flat-button matStepperNext color="primary">Próximo</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Resumo</ng-template>
            <p>You are now done.</p>
            <div class="flex flex-row justify-between">
                <button mat-flat-button matStepperPrevious color="warn">Back</button>
                <button mat-flat-button (click)="stepper.reset()" color="accent">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>

</div>