.card__header {
    height: 50px;
    width: 50px;
    text-align: center;
    justify-content: center;
}

.card__body{
    font-size: 2em;
    text-align: center;
    
}

.card{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 1 em;
    padding: 0;
}

.card_outside {
    padding: 1em;
    background-color: rgba(87, 87, 87, 0.478);
    border-radius: 3px;
    border: 1px solid rgb(73, 73, 88);
    width: 100%;

}

.card_outside h3{
    margin: 0;
}

