<mat-drawer  #sidenav class="example-sidenav" mode="push" > 
    <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem  routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink ="clientes">Clientes</button>
        <button class="example-menu-item" cdkMenuItem  routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink="clientes/cadastro"> Cadastrar Clientes</button>
        <button class="example-menu-item" cdkMenuItem  routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}" routerLink="">  Roteadores</button>
    </div>

</mat-drawer>